<%- include("partials/header.ejs") %>
<div class="summary">
  
  <main class="main-content">
  <h1>Books</h1>
  <div class="image-row">
    <div class="image-item">
      <ul class="book-list">
        <li>
          <img class="profile" src="images/peerkamil.png" alt="Peer-e-kamil profile">
          <a href="/summary/1">Peer-e-kamil</a>
        </li>
        <li>
          <img class="profile" src="images/abehayat.png" alt="Aab-e-hayat profile">
          <a href="/summary/2">Aab-e-hayat</a>
        </li>
        <li>
          <img class="profile" src="images/amarbail.png" alt="Amarbail profile">
          <a href="/summary/3">Amarbail</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</main>
