<%- include("partials/header") %>
<div class="essays-list">
  
  <main class="main-content">
  <h1>Essays</h1>
  <ul>
    <li><a href="/essay/1/"> The Impact of Technology</a></li>
    <li><a href="/essay/2"> Climate Change and Its Effects</a></li>
    <li><a href="/essay/3"> The Future of Education</a></li>
    <li><a href="/essay/4"> Mental Health Awarness</a></li>
    <li><a href="/essay/5">Digital literacy</a></li>
    <li><a href="/essay/6">Importance of AI</a></li>
    <li><a href="/essay/7">Political Polarization</a></li>
    <li><a href="/essay/8">Cultural Diversity</a></li>
    <li><a href="/essay/9">Role Of Education In Reducing Poverty</a></li>
    <li><a href="/essay/10">Cryptocurrency: The Future of Finance?</a></li>
    <li><a href="/essay/11">Role Of Women In World War III</a></li>
    <li><a href="/essay/12">The Role Of Literature in Shaping society</a></li>
    <li><a href="/essay/13">The Impact Of Voter Supression on Democracy </a></li>
    <li><a href="/essay/14">The Role Of NGOS In Global development</a></li>
    <li><a href="/essay/15">Solution Of Plastic Pollution</a></li>
    <li><a href="/essay/16">Pros and Cons Of Online Learning</a></li>
    <li><a href="/essay/17">Populism & Its Impact On Democracy </a></li>
    <li><a href="/essay/18">Cyber Security Challenges</a></li>
    <li><a href="/essay/19">Risk Of Fake News & Its Impact On Society</a></li>
    <li><a href="/essay/20">The Role Of Exercises Im Preventing Diseases</a></li>

    <!-- Add more essay links here -->
  </ul>
</div>

</main>