<%- include("partials/header.ejs") %>


<div class="container ">
  
  <main class="main-content">
  <h1>Welcome to My Blog</h1>
  <p>
    Hello everyone! Welcome to my blog, your one-stop destination for a treasure trove of engaging content.
     Here’s a glimpse of what you can explore:
  </p>
  <ul>
    <li>
      <strong>Essays:</strong> Dive into a collection of thought-provoking essays covering a wide range of topics.
       Whether you're interested in current events, or personal reflections, our essays are crafted to 
       inspire and inform.
    </li>
    <li>
     <strong>Summaries:</strong> Short on time but love reading? Check out our concise and insightful summaries
       of popular books .
    </li>
    <li>
      <strong>Quotes:</strong> Need a quick dose of inspiration or a catchy caption for your latest Instagram post?
       Our selection of quotes is perfect for adding a touch of wisdom or wit to your day.
    </li>
    <li>
      <strong>FAQs:</strong> Have questions about programming, general knowledge, or other intriguing subjects? 
      Our FAQ section provides clear and concise answers to some of the most common and curious queries.
    </li>
  </ul>
  <p>
    So, grab a cup of coffee, get comfortable, and start exploring! We hope you find our content as enjoyable and
     enlightening as we do creating it.
  </p>
</div>
</main>
