<%- include("partials/header.ejs") %>
<ul class="quotes">
	
	<main class="main-content">
<h1>QUOTES</h1>
<li>"Best friends make the good times better and the hard times easier"</li> </Li>
<li>"Nothing better than a best friend who knows you inside out" </li>
<li>"Invest in yourself, it's the best investment you can make."</li>
<li>"Life is like a roller coaster, it has its ups and downs.”</li>
<li>"Don't compare your beginning to someone else's middle."</li>
<li>"Believe in yourself and all that you are capable of."</li>
<li>"Focus on making money and the money will follow."</li>
<li>"Don't wait for opportunity; create it. We did."</li>

<li>"When they say it can't be done, watch us do it."</li>



<li>"Chasing dreams and making memories."</li>
<li>"Finding beauty in the simple things."</li>
<li>"Be the reason someone smiles today."</li>
<li>"Life is better when you're laughing."</li>
<li>"Your satisfaction, our happiness."</li>
<li>"Success tastes better with friends!"</li>
<li>"The more you learn, the more you earn."</li>

<li>"Living life, loving life."</li>

<li>"Money isn’t everything, but it sure does help."</li>
<li>"Best friends are the family we choose"</li>

<li>"Keep it private until its permenant"</li>

</ul>
</ul>
</main>